.leaderboard-results {
  margin: 0;
  padding: 1rem 0.75rem;
  width: 100%;
  color: var(--color-white);
  background: var(--color-violet-light);

  li:nth-child(odd) {
    background: var(--color-violet);
  }

  & > li:first-child {
    & > span:first-child {
      text-indent: 1.5rem;
    }
  }

  li {
    display: grid;
    padding: 0.25rem 0.5rem;

    column-gap: 1rem;
    row-gap: 0.33rem;
    grid-template-columns: 1fr 5rem 3rem 3rem;
    list-style: none;
  }

  .position {
    width: 1.25rem;
    display: inline-flex;
  }

  span:nth-child(4n -3) {
    text-align: left;
  }

  span:nth-child(4n),
  span:nth-child(4n -1) {
    text-align: right;
  }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: 28rem) {
    .device {
      display: none;
    }
    li {
      grid-template-columns: 1fr 3rem 3rem;
    }
  }
}

.leaderboard-modal {
  position: fixed;
  width: 90%;
  height: 25rem;
  overflow-y: scroll;
  left: 5%;
  top: 10rem;
  max-width: 40rem;
  z-index: 1;
  background: var(--color-violet-dark);

  h3 {
    text-align: center;
    margin: -3rem auto 0;
    color: var(--color-white);
    font-size: var(--font-xl);
  }
  button {
    margin-left: auto;
    display: block;
    font-size: var(--font-xl);
    font-weight: bold;
    font-family: var(--heading-font);
    padding: 0.66rem 1.25rem;
    background: var(--color-violet-light);
  }

  @media screen and (min-width: 40rem) {
    left: calc(50% - 20rem);
  }

  @media screen and (min-width: 70rem) {
    zoom: 1.5;
  }
}
