.leaderboard-results {
  padding: 1rem;
  width: 100%;
  color: var(--color-white);
  background: var(--color-violet-light);

  li:nth-child(odd) {
    background: var(--color-violet);
  }

  & > li:first-child {
    & > span:first-child {
      text-indent: 1.5rem;
    }
  }

  li {
    display: grid;
    padding: 0.25rem;

    column-gap: 1rem;
    row-gap: 0.33rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
  }
  .name {
    min-width: 8rem;
  }

  .position {
    width: 1.25rem;
    display: inline-flex;
  }

  span:nth-child(4n -3) {
    text-align: left;
  }

  span:nth-child(4n),
  span:nth-child(4n -1) {
    text-align: right;
  }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
